<mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()" aria-label="Menu button">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="clickable focus-none" [routerLink]="['/home']">Wisdom Educational Trust</span>

    <!-- <span class="spacer"></span> -->
    <!-- <span class="caption">-A Mission with Great vision</span> -->
</mat-toolbar>
<mat-sidenav-container class="site-body-container" color="primary">

    <mat-sidenav #sidenav mode="side">
        <app-side-nav-bar></app-side-nav-bar>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>


</mat-sidenav-container>