<mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()" aria-label="Menu button">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Wisdom Educational Trust</span>

    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
</mat-toolbar>
<mat-sidenav-container class="example-container">

    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        Sidenav content
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>