<mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()" aria-label="Menu button">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="clickable focus-none" [routerLink]="['/home']">Wisdom Educational Trust</span>

    <!-- <span class="spacer"></span> -->
    <!-- <span class="caption">-A Mission with Great vision</span> -->
</mat-toolbar>
<mat-sidenav-container class="site-body-container" color="primary">

    <mat-sidenav #sidenav mode="side">
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/home']"> Home </a>
            <a mat-list-item [routerLink]="['/students']"> Students </a>
            <a mat-list-item [routerLink]="['/donors']"> Donors </a>
            <a mat-list-item [routerLink]="['/contact']"> Contact </a>
            <a mat-list-item [routerLink]="['/gallery']"> Gallery </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>


</mat-sidenav-container>