<!-- <div class="wrapper">
    <p>Page under Construction</p>
</div> -->

<div class="wrapper">
    <!-- begin: students toolbar -->
    <mat-card class="ml0 mr0 flexible flex-v-align-center">
        Donors List
        <button mat-icon-button aria-label="Menu button" debouncer (debouncedEventHandler)="loadDonors()"
            [debounceTime]="1000" [disabled]="isLoading">
            <mat-icon>cached</mat-icon>
        </button>
        <div class="spacer"></div>
        <mat-form-field class="d-ib hide-on-xs" *ngIf="dataSource">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search table contents here">
        </mat-form-field>
        <!-- <mat-form-field>
                <mat-label>{{selectedBatch}}</mat-label>
                <mat-select>
                    <mat-option *ngFor="let batch of batches" [value]="batch">
                        {{batch}}
                    </mat-option>
                </mat-select>
            </mat-form-field> -->
    </mat-card>
    <!-- end: students toolbar -->

    <mat-form-field class="show-on-xs" *ngIf="dataSource">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search table contents here">
    </mat-form-field>

    <!-- begin: students table -->
    <table mat-table *ngIf="dataSource" [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="workingIn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Working In </th>
            <td mat-cell *matCellDef="let element"> {{element.workingIn}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-card *ngIf="isLoading" class="flexible m0 flex-h-align-center">
        <mat-progress-spinner color="primary" mode="indeterminate" [diameter]="40">
        </mat-progress-spinner>
    </mat-card>
    <mat-paginator *ngIf="dataSource" [pageSizeOptions]="[10, 15, 20, 25, 30]" showFirstLastButtons></mat-paginator>
    <!-- end: students table -->
    <mat-card class="ml0 mr0" *ngIf="noDataReceived">
        No Data Received
    </mat-card>
</div>