/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0px;
}

table.mat-table {
  width: 100%;
}

.wrapper {
  margin: 10px;
}

.caption {
  font-size: 14px;
}

.mat-card {
  margin: 10px;
  .mini {
    max-width: 300px;
  }
}

.flexible {
  display: flex !important;
}

.flex-h-align-center {
  justify-content: center;
}

.flex-v-align-center {
  align-items: center;
}

.m0 {
  margin: 0px !important;
}

.ml0 {
  margin-left: 0px !important;
}

.mr0 {
  margin-right: 0px !important;
}

.spacer {
  flex-grow: 1;
}

.fs17 {
  font-size: 17px;
}

.fs18 {
  font-size: 18px;
}

.clickable {
  cursor: pointer;
}

.focus-none:focus {
  outline: none;
}

.d-ib {
  display: inline-block;
}

.d-b {
  display: block;
}

.show-on-sm,
.show-on-xs {
  display: none !important;
}

.hide-on-sm,
.hide-on-xs {
  display: block;
}

@media screen and (max-width: 770px) {
  .show-on-sm {
    display: block;
  }
  .hide-on-sm {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .show-on-xs {
    display: block !important;
  }
  .hide-on-xs {
    display: none !important;
  }
}
