/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    margin: 0px;
}

table.mat-table {
    width: 100%;
}

.wrapper {
    margin: 10px;    
}

.mat-list-item-content {
    min-width: 120px;    
}

.caption {
    font-size: 14px;    
}

.mat-card{
    margin: 10px;
.mini {
    max-width: 300px;
}
}

  
.flexible {
    display: flex !important; 
    justify-content: center; 
    align-items: center,
  }

  .m0 {
    margin: 0px !important;
  }
    