<div class="wrapper">
    <app-carousel [slides]="slides"></app-carousel>
    <mat-card>
        <mat-card-content>
            <p class="fs18">
                India is a great country where in we have got lots of intelligent people, scholars, professors, doctors,
                engineers, scientists what not everybody should be proud to be an Indian. One student who is wise enough
                in
                education should not get disturbed by his financial crisis as a barrier to discontinue his studies.

                Our motive is to identify and drive such bright students and help them in all the ways to drive and
                achieve
                their goals. Once they settle well in their lives then they will take care of their family first and
                also we
                encourage them to give something back to our society so that we have better society.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card mini">
        <mat-card-header>
            <mat-card-title>Non-Profitable Trust</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                This is a non-profitable trust formed by 6 guys with great vision and working towards
                promoting the
                education in rural villages. We will provide the scholarships and mentoring to the deserved
                candidates
                who are brilliant in studies but economically challenged.
            </p>
        </mat-card-content>

    </mat-card>
    <mat-card class="example-card mini">
        <mat-card-header>
            <mat-card-title>Unique Feature</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                A special feature in our program is that we provide continuous mentoring to the selected
                students for
                their entire academic career and make sure that they will settle in their lives smoothly. This is in
                addition to the continuous monetary support, based on the student's progress.
            </p>
        </mat-card-content>

    </mat-card>
    <mat-card class="example-card mini">
        <mat-card-header>
            <mat-card-title>Donations</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                We gather funds in every year from donors and distribute the scholarships to the merit students selected
                for that year.
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card mini">
        <mat-card-header>
            <mat-card-title>Students</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                With all the collective efforts, we extended our help to 329 students continously so far.
            </p>
        </mat-card-content>
    </mat-card>
</div>